/* Reset Font Family */

* {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

/* Header */
.jumbotron {
	text-align: center;
	background-color: #666A86;
	color: #EEE;
}

.rock {
	font-family: 'Slackey', cursive;
}

.paper {
	font-family: 'Leckerli One', cursive;
}

.scissors {
	font-family: 'Permanent Marker', cursive;
}

.newgame {
	background-color: #E7BB41;
	color: #393E41;
	margin-top: 30px;
	padding: 2%;
	min-width: 175px;
	font-size: 1.2em;
}

.newgame:hover {
	color: #eee;
}

#numberOfWins {
	max-width: 75px;
	height: 46px;
	margin: 20px;
	color: #393E41;
}

.start_game {
	vertical-align: top;
	margin: 20px;
}


/* Scoreboard */

.action_items  {
	background-color: #393E41;
	color: #eee;
	width: 80%;
	margin: 10px auto;
	border-radius: 7px;
}

.panel {
	margin: 5%;
}

.panel-info>.panel-heading {
	background-image: none;
	background-color: #e7BB41;
    color: #393E41;
    border: none;
    font-size: 1em;
    padding: 5%;
}

.panel-info {
	border: none;
	max-width: 250px;
	margin: 30px auto;
}

.panel-body {
	color: #393E41;
	border-color: #393E41;
    padding: 6%;
    font-size: 1.25em
}

/* Select Move */
.select_move {
	padding: 15px;
}

.select_move h2 {
	margin-bottom: 30px;
}

.select_move button {
	background-color: #e7BB41;
	padding: 10px;
	margin: 3%;
	font-size: 2em;
	min-width: 175px;
}

/* Round History */

i.fa {
	display: block;
}

.table {
	border: 1px solid #eee;
	width: 90%;
	margin: 0 auto;
}

th {
	text-align: center;
}

.win {
	background-color: #e7BB41;
}

/* Media Queries */

@media screen and (max-width: 767px) {
	.panel-info {
	    width: 75%;
	    margin: 20px auto 30px;
	}

	.table {
		width: 100%;
}
}